{%- if "learner_portal" in nginx_default_sites -%}
  {%- set default_site = "default_server" -%}
{%- else -%}
  {%- set default_site = "" -%}
{%- endif -%}

server {
  listen {{ LEARNER_PORTAL_NGINX_PORT }} {{ default_site }};

  listen {{ LEARNER_PORTAL_NGINX_PORT }} {{ default_site }};

  root {{ learner_portal_dist_dir }};

  location / {
      try_files $uri =404;
  }
}
